main {
    max-width: 48rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    height: 75lvh;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table tr {
    text-align: start;
    height: 2rem;
    border-radius: 2rem;
    font-size: 0.875rem;

    transition: background-color var(--duration-standard) var(--easing-standard);
}

table tbody tr:nth-child(even) {
    background-color: hsl(from var(--background) h s 94%);
}

table tbody tr:hover {
    background-color: hsl(from var(--background) h s 90%);
}

td,
th {
    padding: 0 0.5rem;
}

td a {
    color: var(--text);
}

.page-editor-credits {
    margin-top: 0.5rem;
}
