main {
    max-width: 32rem;
    margin: 0 auto;
    padding: 2rem 0;
}

h1 {
    margin: 0;
    line-height: 1.25;
}

.subheading {
    color: var(--text-muted);
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

input {
    margin-bottom: 0.75rem;
}

label {
    margin-bottom: 0.25rem;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 10lh;
}

.satisfaction {
    margin-top: 1rem;
}

.satisfaction > label {
    margin-bottom: 4rem;
}

.satisfaction .selection {
    margin-top: 0.25rem;
}

.satisfaction .selection label {
    margin-right: 0.75rem;
    font-weight: 400;
}

button[type="submit"] {
    margin-top: 2rem;
}