/*
    ********************
    *     Utilities    *
    ********************
*/
article {
    margin: 4rem 0;
}

article h2 {
    grid-area: heading;
    align-self: end;
    margin: 0.25em 0 0;

    font-size: 2.25rem;
    line-height: 1.25;
    color: hsl(from var(--primary) h s 20%);
}

.hero img, article img {
    grid-area: image;
    align-self: center;
    border-radius: 2rem;
}

article .description {
    grid-area: description;
}

/*
    ********************
    *       Hero       *
    ********************
*/
.hero {
    display: flex;
    max-height: 36rem;
}

.hero img {
    width: 50lvw;
    height: 32rem;
    max-width: 52rem;
}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content .phrase {
    position: relative;
}

.hero-content .phrase h1 {
    margin: 0;
    color: var(--text);
    font-size: 5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 5.875rem;
}

.hero-content .phrase h1 span {
    color: var(--primary);
}

.hero-content .phrase .decoration-1, .hero-content .phrase .decoration-2 {
    position: absolute;
    width: 15rem;
    height: fit-content;
    right: 1.25rem;
    top: 4.5rem;
}

.hero-content .phrase .decoration-2 {
    top: 5rem;
}

.hero-content .description {
    padding: 1rem 2rem 0;
    color: var(--text-muted);
    text-align: center;
    font-size: 0.875rem;
    max-width: 32rem;
}

.hero-content .description p {
    margin: 0.25rem 0;
    line-height: 1.25;
}

/*
    ********************
    *   Introduction   *
    ********************
*/

.introduction {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "heading heading image"
        "description description image";
}

.introduction h2 {
    /*align-self: end;*/
}

.introduction .description {
    max-width: 60ch;
    height: min-content;
}

.introduction img {
    align-self: center;
    margin-left: 3rem;
    width: 50lvw;
    max-width: 56rem;
}

/*
    ********************
    *      Mission     *
    ********************
*/
.mission {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "image heading heading"
        "image description description";

    padding: 2rem;
    border-radius: 1.5rem;
    background-color: hsl(from var(--secondary) h s 90%);
}

.mission .description {
    align-self: end;
    max-width: 75ch;
    color: hsl(from var(--primary) h s 15%);
}


.mission img {
    align-self: center;
    width: 18rem;
    height: 18rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
}
