nav {
    display: flex;
    height: 3.5rem;
    align-items: center;
    padding: 0 3rem;
}


nav .branding {
    display: inline;
    color: var(--text);
    font-size: 1.125rem;
    font-weight: 500;
}

nav .branding :first-child {
    color: var(--primary);
}

nav .actions {
    display: inline-flex;
    gap: 1.25rem;
}

nav .primary-actions {
    display: inline-flex;
    gap: 0.5rem;
}

nav .actions a, nav .primary-actions a {
    text-decoration: none;
    font-size: 1rem;
}

nav .actions a {
    color: var(--text);
}

nav .action-spacer {
    margin: 0 1rem;
    height: 26px;
    width: 1px;
    border-radius: 0.25rem;
    background-color: var(--border);
}
