#products {
  display: flex;
  flex-wrap: wrap;

}

.product {
  border:none;
  border-radius: 5px;
  padding: 50px;
  margin-bottom: 2px;
  width: fit-content;
  display: inline-block;
  color: rgb(9, 2, 77);
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.product img {
  height: 100px;
  max-width: 100%;
  border-radius: 5px;
}

.option_box {
  border: none;

  padding: 30px;
  margin-bottom: 2px;
  width: fit-content;
  display: inline-block;
}

.customerdetails {
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px;
}

.cart {
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px;
}

.cart-items {
  color: black;
}



#Total-Final-Bill {
  border-radius: 15px;
  display: block;
  margin: 20px auto 0;
  width: 30%;
  background-color: #468fa1;
  color: #f9f9f9;
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
  border: none;
}

#Total-Final-Bill button:hover {
  background-color: #171427;
  border: none;
  transition: 0.4s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: aliceblue;
}
