@import url("./css/nav.css");
@import url("./css/footer.css");

:root {
    --background: hsl(210, 25%, 97%, 1);
    --border: hsl(208, 25%, 85%, 1);

    --text: hsla(200, 18%, 3%, 1);
    --text-muted: hsl(from var(--text) h s 50%);

    --primary: hsl(200, 98%, 39%, 1);
    --secondary: hsl(200, 42%, 73%, 1);
    --accent: hsl(200, 51%, 62%, 1);

    --easing-standard: cubic-bezier(0.2, 0.0, 0, 1.0);
    --duration-standard: 300ms;

    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    font-weight: normal;
    color-scheme: light;
}

html {
    background-color: var(--background);
    color: var(--text);

    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
}

*,
::before,
::after {
    box-sizing: border-box;
}


/* *****    Utility    ***** */
.spacer {
    flex: 1;
}

.btn-ghost, .btn-primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 2rem;
    padding: 0 1rem;
    border-radius: 0.25rem;
}

.btn-ghost {
    transition-property: color, background-color;
    transition-duration: var(--duration-standard);
    transition-timing-function: var(--easing-standard);

    color: var(--accent);
}

.btn-ghost:hover {
    color: hsl(from var(--accent) h s 52%);
    background-color: hsl(from var(--secondary) h s 88%);
}

.btn-primary {
    transition-property: color, background-color;
    transition-duration: var(--duration-standard);
    transition-timing-function: var(--easing-standard);

    color: var(--background);
    background-color: var(--primary);
}

.btn-primary:hover {
    background-color: hsl(from var(--primary) h s 45%);
}

.container {
    width: 100%;
    margin: 0 auto;
}

label.required:after {
    content:" *";
    color: red;
    display: inline;
}

input[type="text"], input[type="email"], input[type="name"], textarea {
    appearance: none;
    height: 2rem;
    border-radius: 0.25rem;
    background-color: transparent;

    transition-property: border-color;
    transition-duration: var(--duration-standard);
    transition-timing-function: var(--easing-standard);

    padding: 0.5rem;

    border: 1px solid hsl(from var(--border) h s 80%);
}

input[type="text"]:active, input[type="email"]:active, input[type="name"]:active, textarea:active,
input[type="text"]:focus, input[type="email"]:focus, input[type="name"]:focus, textarea:focus {
    outline: none;
    border-color: var(--primary);
}

button {
    border: none;
}

label {
    color: var(--text);
    font-weight: 500;
}

@media (min-width: 640px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1000px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1240px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}